{:kotoba.app/id "cloud.itonami.isic-0129", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidwxxmswcceytbbhjjehmp3oihvds43pkb6guyf5mcuvr66r2ypo4", :kotoba.app/embed-url "ipfs://bafkreidwxxmswcceytbbhjjehmp3oihvds43pkb6guyf5mcuvr66r2ypo4", :published {:archive "https://kotobase.net/ipfs/bafkreidwxxmswcceytbbhjjehmp3oihvds43pkb6guyf5mcuvr66r2ypo4", :size 72811, :put-status 201, :get-status 200, :at "2026-08-15T13:57:40.334Z"}}
